<%- include("like-subscribe-slides.svg")%>
<script src="/slide-utils.js"></script>
<style>
  body > svg {
    width: 100%;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideFromRight {
    0% {
      transform: translatex(500px);
      opacity: 1;
    }

    100% {
      transform: translatex(-0px);
    }
  }

  @keyframes slideFromTop {
    0% {
      transform: translatey(-50px);
      opacity: 1;
    }

    100% {
      transform: translatex(0px);
    }
  }

  #developer, #like, #subscribe, #portrait {
    opacity: 0;
  }

   #like.on, #subscribe.on {
    opacity: 1;
    animation: appear 1s steps(10, end);
    animation-timing-function: ease-in-out;
  }

  #developer.on {
    opacity: 1;
    animation: slideFromRight 1s steps(10, end);
    animation-timing-function: ease-in-out;
  }

  #developer.on.up {
    transition: .5s ease-in-out;
    transform: translatey(-20px);
  }

  #developer.on.out {
    transition: 1s ease-in-out;
    transform: translatey(-200px);
  }

  #portrait.on {
    opacity: 1;
    animation: slideFromTop 1s steps(10, end);
    animation-timing-function: ease-in-out;
  }

</style>
<script>
  const developer = $('developer')
  const subscribe = $('subscribe')
  const like = $('like')
  const portrait = $('portrait')

  const slide = slideControl();

  const handleKeypress = () => {
    if (slide.isActive()) {
      developer.classList.add('on')
    }
    if (slide.isActive()) {
      developer.classList.add('up')
      subscribe.classList.add('on')
      like.classList.add('on')
    }

    if (slide.isActive()) {
      developer.classList.add('out')
    }
    if (slide.isActive()) {
      portrait.classList.add('on')
    }
    if (slide.isActive()) {
      like.classList.remove('on')
      subscribe.classList.remove('on')
      portrait.classList.remove('on')

      developer.classList.remove('on')
      developer.classList.remove('up')
      developer.classList.remove('out')
    }

    slide.reset();
  }

  document.addEventListener('keypress', handleKeypress);
  setInterval(handleKeypress, 1500);
</script>

