<%- include("title-monorepo-slides.svg")%>
<script>
</script>
<style>

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  body > svg {
    width: 100%;
    height: 100%;
  }

  @keyframes slideIn {
    0% {
      opacity: 1;
      transform: translatex(200px);
    }
    100% {
      opacity: 1;
      transform: translatex(0px);
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes grow {
    0% {
      opacity: 1;
      transform: scale(0) rotatez(720deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) rotatez(0deg);
    }
  }

  #face,
  #luke,
  #monorepo,
  #react,
  #compose,
  #express,
  #fetch {
    opacity: 0;
  }

  #monorepo.on,
  #react.on,
  #compose.on,
  #express.on,
  #fetch.on
  {
    opacity: 1;
    animation: slideIn .5s steps(10, end);
    animation-timing-function: ease-in-out;
  }
   
  #luke.on {
    opacity: 1;
    animation: appear 1s steps(10, end);
    animation-timing-function: ease-in-out;
  }
  #face.on {
    opacity: 1;
    animation: grow .5s steps(10, end);
    animation-timing-function: ease-in-out;

    transform-origin: center;
    transform-box: fill-box;
  }
</style>
<script>
<%- include("../../static/slide-utils.js")%>

  window.onload = fixSvgSize;

  const face = $('face')
  const luke = $('luke')

  const monorepo = $('monorepo')
  const react = $('react')
  const compose = $('compose')
  const express = $('express')
  const fetch = $('fetch')

  const slide = slideControl();

  const handleKeypress = () => {

    if (slide.isActive()) {
      monorepo.classList.add('on')
    }
    if (slide.isActive()) {
      face.classList.add('on')
      luke.classList.add('on')
    }
    if (slide.isActive()) {}
    if (slide.isActive()) {
      face.classList.remove('on')
      luke.classList.remove('on')
      monorepo.classList.remove('on')
    }

    if (slide.isActive()) {
      react.classList.add('on')
    }
    if (slide.isActive()) {
      face.classList.add('on')
      luke.classList.add('on')
    }
    if (slide.isActive()) {}
    if (slide.isActive()) {
      face.classList.remove('on')
      luke.classList.remove('on')
      react.classList.remove('on')
    }

    if (slide.isActive()) {
      compose.classList.add('on')
    }
    if (slide.isActive()) {
      face.classList.add('on')
      luke.classList.add('on')
    }
    if (slide.isActive()) {}
    if (slide.isActive()) {
      face.classList.remove('on')
      luke.classList.remove('on')
      compose.classList.remove('on')
    }

    if (slide.isActive()) {
      express.classList.add('on')
    }
    if (slide.isActive()) {
      face.classList.add('on')
      luke.classList.add('on')
    }
    if (slide.isActive()) {}
    if (slide.isActive()) {
      face.classList.remove('on')
      luke.classList.remove('on')
      express.classList.remove('on')
    }

    if (slide.isActive()) {
      fetch.classList.add('on')
    }
    if (slide.isActive()) {
      face.classList.add('on')
      luke.classList.add('on')
    }
    if (slide.isActive()) {}
    if (slide.isActive()) {
      face.classList.remove('on')
      luke.classList.remove('on')
      fetch.classList.remove('on')
    }

    slide.reset();
  }

  document.addEventListener('keypress', handleKeypress);
  setInterval(handleKeypress, 1500);
</script>

